#konvoi,
#updates,
#presence,
#event-manager {
    margin-top: 50px;
    padding: 10px;
    min-width: 100px;
    width: 70%;
    max-width: 900px;
}

#updates,
#event-manager {
    margin-top: 10px;
}

#konvoi h2,
#updates h2,
#presence h2,
#event-manager h2 {
    text-align: center;
}

#edit-buttons {
    overflow: hidden;

    margin-top: 20px;
    
    min-width: 100px;
    width: 70%;
    max-width: 900px;

    text-align: center;
}

.update-pic {
    cursor: pointer;
}

#presence {
    margin-top: 10px;
}
#presence-chart {
    margin-top: 20px;
    max-width: 400px;
}
#presence-table {
    margin-top: 20px;
}